
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>cadastrarAluno</title>
</head>
<body>
    <div>
        <p>IDAluno: @ViewBag.ObjetoAluno.IdAluno</p>
        <p>Nome: @ViewBag.ObjetoAluno.Nome</p>
        <p>Endereço: @ViewBag.ObjetoAluno.Endereco</p>
        <p>RG: @ViewBag.ObjetoAluno.Rg</p>
        <p>CPF: @ViewBag.ObjetoAluno.Cpf</p>
    </div>
</body>
</html>
