
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <p>Id Produto => @ViewBag.Produto.IdProduto</p>
        <p>Categoria => @ViewBag.Produto.Categoria</p>
        <p>Fornecedor => @ViewBag.Produto.Fornecedor</p>
        <p>Descricao => @ViewBag.Produto.Descricao</p>
        <p>Peso => @ViewBag.Produto.Peso</p>
        <p>Controlado => @ViewBag.Produto.Controlado</p>
        <p>Qtdemin => @ViewBag.Produto.Qtdemin</p>
    </div>
</body>
</html>
