
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <p>Quantidade de não eleitores => @ViewBag.NEleitores</p>
        <p>Quantidade de eleitores obrigatórios => @ViewBag.EleitoresObrigatorios</p>
        <p>Quantidade de eleitores facultativos => @ViewBag.EleitoresFacultativos</p>
        <p>Média de idade eleitores obrigatórios => @ViewBag.MediaIdadeFinal</p>
        <p>Percentual não eleitores => @ViewBag.PercentualNEleitores %</p>
        <p>Percentual eleitores obrigatórios => @ViewBag.PercentualEleitoresObrigatorios %</p>
        <p>Percentual eleitores facultativos => @ViewBag.PercentualEleitoresFacultativos %</p>
    </div>
</body>
</html>
