
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>resultado</title>
</head>
<body>
    <div>
        <p>IdAluno => @ViewBag.Cliente.IdAluno</p>
        <p>Nome => @ViewBag.Cliente.Nome</p>
        <p>Endereco => @ViewBag.Cliente.Endereco</p>
        <p>Nascimento => @ViewBag.Cliente.Nascimento</p>
        <p>CPF => @ViewBag.Cliente.Cpf</p>
        <p>Estado Civil => @ViewBag.Cliente.EstadoCivil</p>
        <p>Sexo => @ViewBag.Cliente.Sexo</p>
        <p>Renda => @ViewBag.Cliente.Renda</p>
        <p>Logradouro => @ViewBag.Cliente.Logradouro</p>
        <p>Número => @ViewBag.Cliente.Numero</p>
        <p>Complemento => @ViewBag.Cliente.Complemento</p>
        <p>Cidade => @ViewBag.Cliente.Cidade</p>
        <p>Estado => @ViewBag.Cliente.Estado</p>


    </div>
</body>
</html>
