
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <h1>Resultados</h1>
        <p>@ViewBag.Num * 1 = @ViewBag.NumUm</p>
        <p>@ViewBag.Num * 2 = @ViewBag.NumDois</p>
        <p>@ViewBag.Num * 3 = @ViewBag.NumTres</p>
        <p>@ViewBag.Num * 4 = @ViewBag.NumQuatro</p>
        <p>@ViewBag.Num * 5 = @ViewBag.NumCinco</p>
        <p>@ViewBag.Num * 6 = @ViewBag.NumSeis</p>
        <p>@ViewBag.Num * 7 = @ViewBag.NumSete</p>
        <p>@ViewBag.Num * 8 = @ViewBag.NumOito</p>
        <p>@ViewBag.Num * 9 = @ViewBag.NumNove</p>
        <p>@ViewBag.Num * 10 = @ViewBag.NumDez</p>
    </div>
</body>
</html>
